@model IndiePal.Models.ViewModels.NewTalentAndSkills

@{
    ViewData["Title"] = "Edit";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Editing @Model.ApplicationUser.UserName's Talent Info
            </h1>
            <h2 class="subtitle">
                Making adjustments to your repertoire.
            </h2>
        </div>
    </div>
</section>

<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Active" />

                    <div class="form-group">
                        <label asp-for="Biography" class="control-label"></label>
                        <div class="field">
                            <div class="control">
                                <textarea asp-for="Biography" class="textarea is-primary" placeholder="Primary textarea"></textarea>
                            </div>
                        </div>
                        <span asp-validation-for="Biography" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Wage" class="control-label"></label>
                        <input asp-for="Wage" class="input is-rounded" type="text" placeholder="Rounded input">
                        <span asp-validation-for="Wage" class="text-danger"></span>
                    </div>

                    <label>What skills do you have?</label>
                    <button class="button is-link" id="CreateForm">Add Skill</button>
                    <div id="skilllist">
                        @for (int i = 0; i < Model.SkillList.Count; i++)
                        {
                        <div class="form-group">
                            <input asp-for="SkillList[i]" class="form-control" />
                            <a href="#" class="remove_field">Remove</a>
                            <span asp-validation-for="SkillList[i]" class="text-danger"></span>
                        </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="is-primary" />
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	var max_fields      = 9; //maximum input boxes allowed
	var wrapper   		= $("#skilllist"); //Fields wrapper
	var add_button      = $("#CreateForm"); //Add button ID

	var x = @Model.SkillList.Count; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
            $(wrapper).append('<div class="form-group" ><input class="form-control skill-form" type="text" id="SkillList_' + x + '_" name="SkillList[' + x + ']" value=""><a href="#" class="remove_field">Remove</a><span class="text-danger field-validation-valid" data-valmsg-for="SkillList[' + x + ']" data-valmsg-replace="true"></span></div>'); //add input box
            x++; //text box increment

		}
	});

	$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
        var positionList = document.getElementsByClassName("skill-form");
        for (var i = 0; positionList.length; i++){
            positionList[i].removeAttribute("id");
            positionList[i].removeAttribute("name");
            positionList[i].setAttribute("id", 'SkillList_' + i + '_');
            positionList[i].setAttribute("name", 'SkillList[' + i + ']');
        }
	})
});
</script>