@model IndiePal.Models.ViewModels.ProjectListAndDirectorViewModel
@{
    ViewData["Title"] = "AllProjects";
}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Projects
                </h1>
                <h2 class="subtitle">
                    Browse other's projects, or create your own!
                </h2>
            </div>
        </div>
    </section>

@if (Model.Director == null)
{
<a asp-action="DirectorAgreement">Create New Director Account</a>
}

else if (Model.AllProjects.Count < 2)
{
<a asp-action="CreateProject">Create a new project!</a>
}

<article class="media">
    <div class="flex-lg-wrap">
    <figure class="media-left">
        <p>All Projects</p>
    </figure>
    <figure class="media-left">
        <p>Your Projects</p>
    </figure>
    </div>
    <div class="media-content">
        <div class="content">
            
        </div>
    </div>
</article>