@model IndiePal.Models.ViewModels.NewProjectAndPositions
@{
    ViewData["Title"] = "CreateProject";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Creating a New Project
            </h1>
            <h2 class="subtitle">
                The next big hit in the making.
            </h2>
        </div>
    </div>
</section>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>What's the product called?</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>What's your budget?</label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Create a description!</label>
                <textarea asp-for="Description" class="form-control" rows="5" cols="80"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <label>What positions do you want to fill from the start?</label>
            <button class="button is-link" style="margin-bottom:22px" id="CreateForm">Add Position</button>

            <div id="position">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button is-link" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllProjects">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	var max_fields      = 9; //maximum input boxes allowed
	var wrapper   		= $("#position"); //Fields wrapper
	var add_button      = $("#CreateForm"); //Add button ID

	var x = 0; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
            $(wrapper).append('<div class="form-group" ><input class="form-control position-form" type="text" id="Positions_' + x + '_" name="Positions[' + x + ']" value=""><a href="#" class="remove_field">Remove</a><span class="text-danger field-validation-valid" data-valmsg-for="Positions[' + x + ']" data-valmsg-replace="true"></span></div>'); //add input box
            x++; //text box increment
		}
	});

    $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
        e.preventDefault(); $(this).parent('div').remove();
        x--;
        var positionList = document.getElementsByClassName("position-form");
        for (var i = 0; positionList.length; i++){
            positionList[i].removeAttribute("id");
            positionList[i].removeAttribute("name");
            positionList[i].setAttribute("id", 'Positions_' + i + '_');
            positionList[i].setAttribute("name", 'Positions[' + i + ']');
        }
        
        
	})
});
    </script>